version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile 
    ports:
      - "8000:3000"
    networks:
      - app-network
    volumes:
      # - .:/app
      - .:/rh/src/app
      - ./rh/src/app/node_modules
    depends_on:
      - db
    environment:
      - DATABASE_URL = postgres://postgres:kataku@postgres:5432/postgres
      - NODE_ENV: production

  db:
    restart: always
    image: postgres:latest
    container_name: db
    command: ["-c", "shared_buffers=256MB", "-c", "max_connections=500"]
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./init-database.sh:/docker-entrypoint-initdb.d/init-database.sh

    environment:
      - POSTGRES_USER = postgres
      - POSTGRES_PASSWRD = kataku
      - POSTGRES_DB = postgres
   
    ports:
      - 54320:5432
    expose:
      - 5432 
    networks:
      - app-network

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8081:8080
    networks:
      - app-network

volumes:
  postgres:
    driver: local

networks:
  app-network:
    driver: bridge